<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}html5shiv.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_LIB}Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>基本设置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	系统管理
	<span class="c-gray en">&gt;</span>
	基本设置
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" action='' method='post' enctype='multipart/form-data'>
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				<span>基本设置</span>
				
			</div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>当前市值价格:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="price" placeholder="" value="{$info.price}"name='price' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>预设总数:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="total" placeholder="" value="{$info.total}"name='total' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>派送总数:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="total1" placeholder="" value="{$info.total1}"name='total1' class="input-text" readonly disabled>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>区块币数:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="block_num" placeholder="" value="{$info.block_num}"name='block_num' class="input-text"  >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>区块人数:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="block_renshu" placeholder="" value="{$info.block_renshu}"name='block_renshu' class="input-text"  >
					</div>
				</div>
				<!--<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>预设天数:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="days" placeholder="" value="{$info.days}"name='days' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>难度系数:</label>
					<div class="formControls col-xs-8 col-sm-4">
						<input type="text" id="xishu" placeholder="默认是1，最多五位小数" value="{$info.xishu}"name='xishu' class="input-text">
					</div>
					如果减小难度，可设置0.00001,最多5位小数
				</div>-->
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>参与人数:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="users" placeholder="" value="{$users}" name='users' class="input-text" disabled>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册返算力:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="register_suanli" placeholder="" value="{$info.register_suanli}"name='register_suanli' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册返币:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="invite" placeholder="" value="{$info.invite}"name='invite' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册返币(冻结):</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="invite_dongjie" placeholder="" value="{$info.invite_dongjie}"name='invite_dongjie' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登录加算力:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="login_suanli" placeholder="" value="{$info.login_suanli}"name='login_suanli' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册一级返算力:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="invite1_suanli" placeholder="" value="{$info.invite1_suanli}"name='invite1_suanli' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册二级返算力:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="invite2_suanli" placeholder="" value="{$info.invite2_suanli}"name='invite2_suanli' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册一级返币:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="invite1" placeholder="" value="{$info.invite1}"name='invite1' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册二级返币:</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="invite2" placeholder="" value="{$info.invite2}"name='invite2' class="input-text">
					</div>
				</div>
				<!--<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-Keywords" placeholder="" value="{$info.keywords}" name='keywords' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>描述：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-description" placeholder="" value="{$info.descript}" name='descript' class="input-text">
					</div>
				</div>
				
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>底部版权信息：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-copyright" placeholder="" value="{$info.copyright}" name='copyright' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-copyright" placeholder="" value="{$info.tel}" name='tel' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>传真：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-copyright" placeholder="" value="{$info.fax}" name='fax' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>地址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-copyright" placeholder="" value="{$info.address}" name='address' class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">logo：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<div class="uploader-thum-container">
							<div>
								<input type="file" id="up_img" name='logo'style="cursor:pointer;">
							</div>
							<div class="img" style="max-width:60%;margin-top:10px;"><img  src="{$Think.const.UP_SYSTEM}{$info.logo}" style="width:25%;height:auto;display:block;" id="imgShow"></div>
						</div>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">banner：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<div class="uploader-thum-container">
							<div>
								<input type="file" id="up_img1" name='banner'style="cursor:pointer;">
							</div>
							<div class="img" style="max-width:60%;margin-top:10px;"><img  src="{$Think.const.UP_SYSTEM}{$info.banner}" style="width:25%;height:auto;display:block;" id="imgShow1"></div>
						</div>
					</div>
				</div>
			</div>-->
			
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}layer/2.4/layer.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_STATIC}h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_STATIC}h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{$Think.const.PUB_LIB}My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}uploadPreview.min.js"></script> 
<script type="text/javascript">
 window.onload = function () { 
      new uploadPreview({ UpBtn: "up_img", DivShow: "updata_img", ImgShow: "imgShow" });	 
	  new uploadPreview({ UpBtn: "up_img1", DivShow: "updata_img", ImgShow: "imgShow1" });
  }
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>