<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"/>
	<title>TFC提升记录</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}common.css">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}use.css">
	<script type="text/javascript" src="{$Think.const.PUB_JS}iscroll.js"></script>
	
	</head>
	<body>
		<header>
	<h3 class="tc lhbg">
		<i class="go"></i>
		TFC提升记录
	</h3>
</header>
</header>
		<div class="main frozenCoin">
			<div class="record-bd" id="wrapper">
				<div id="scroller">
					<div id="pullDown">
						<span class="pullDownIcon"></span>
						<span class="pullDownLabel">下拉刷新...</span>
					</div>
					<if condition="$res[0] neq null">
					<ul id="list">
					<volist name='res' id='vo'>
						<li class="flex-box">
							<div class="flex-1 flex-box">
								<img src="{$Think.const.PUB_IMG}amount.png" alt="">
								<div class="flex-1">
									<h4><if condition="$vo.type eq 1">TFC<else />算力</if></h4>
									<p><span>{$vo.createdate|date='m月d日',###}</span><span>{$vo.createdate|date='H:i',###}</span></p>
								</div>
							</div>
							<div>
							<span class="source"><em><if condition="$vo.channel eq 1">注册<elseif condition="$vo.channel eq 2" />邀请好友<elseif condition="$vo.channel eq 3" />消费<elseif condition="$vo.channel eq 4" />登录<elseif condition="$vo.channel eq 5" />绑定设备<else />消费</if></em>+{$vo['num']*1}</span>
							</div>
						</li>
					</volist>
					</ul>
					<else />
					<p class="no-list tc">暂无记录</p>
					</if>
					<div id="pullUp">
						<span class="pullUpIcon"></span>
						<span class="pullUpLabel">上拉加载更多...</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mask"></div>
	</body>
	<script src="{$Think.const.PUB_JS}set.js"></script>
	<script src="{$Think.const.PUB_JS}jquery-1.8.2.min.js"></script>
	<script src="{$Think.const.PUB_JS}global.js"></script>
	<script src="{$Think.const.PUB_LIB}layer/layer.js"></script>
	<script type="text/javascript">
		$('.selectbox ul').hide();
		$('.selection').click(function () {
			$('.mask').toggle();
			$(this).siblings('ul').toggle();
		});
		$('.selectbox ul li').click(function () {
			$(this).parent().hide();
			$('.mask').hide();
			$(this).parent().siblings('span').html($(this).text() + '<i class="go"></i>');
			$(this).parent().siblings('span').attr('id',$(this).attr('id'));
			})
	</script>
	<script type="text/javascript">
		var myScroll,
			pullDownEl, pullDownOffset,
			pullUpEl, pullUpOffset,
			generatedCount = 0;
		var p = 2;
			/**下拉刷新 （自定义实现此方法） myScroll.refresh(); 数据加载完成后，调用界面更新方法*/
			function pullDownAction () {
				setTimeout(function () { 
					var url = "{:U('user/ajax_coin')}";
					$.ajax({
							url:url,
							type:'post',
							data:{
								p:p,
							},
							dataType:'json',
							success:function(result){
								var data=result.data;
								for(var i=0;i<data.length;i++){
									$('#list').append('<li></li>')
								}
							},error:function(err){
								
							}
							});
					myScroll.refresh();   
				}, 1000);   
			}
			/** 滚动翻页 （自定义实现此方法）
			 * myScroll.refresh();      // 数据加载完成后，调用界面更新方法
			 */
			function pullUpAction () {
				var url = "{:U('user/ajax_coin')}";
				setTimeout(function () {
					$.ajax({
						url:url,
						type:'post',
						data:{
							p:p,
						},
						dataType:'json',
						success:function(result){
							var list = '';
							if(result == ''){ 
								layer.msg('没有更多数据可加载',{time:2000,icon:2});
								return false;
							}
							$.each(result,function(k,v){
								if(v.type == 1){
									var type = '原力币';
								}else if(v.type == 2){
									var type = '算力';
								}
								var ch = '';
								if(v.channel == 1){
									ch = '注册';
								}else if(v.channel == 2){
									ch = '邀请好友';
								}else if(v.channel ==3){
									ch = '消费';
								}else if(v.channel ==4){
									ch = '登录';
								}else if(v.channel ==5){
									ch = '绑定设备';
								}
								if(v.id){
									list += '<li class="flex-box"><div class="flex-1 flex-box"><img src="{$Think.const.PUB_IMG}amount.png" alt="">';
									list += '<div class="flex-1"><h4>'+type+'</h4><p><span>'+v.date+'</span><span>'+v.time+'</span></p></div></div>';
									list += '<div><span class="source"><em>'+ch+'</em>+'+v.num+'</span></div></li>';
								}
							})
							p +=1;
							$('#list').append(list);
						},error:function(err){
							
						}
					});

					myScroll.refresh();
				}, 1000);
			}
			/*** 初始化iScroll控件*/
			function loaded() {
				pullDownEl = document.getElementById('pullDown');
				pullDownOffset = pullDownEl.offsetHeight;
				pullUpEl = document.getElementById('pullUp');   
				pullUpOffset = pullUpEl.offsetHeight;

				myScroll = new iScroll('wrapper', {
					scrollbarClass: 'myScrollbar', 
					useTransition: false, 
					topOffset: pullDownOffset,
					onRefresh: function () {
						if (pullDownEl.className.match('loading')) {
							pullDownEl.className = '';
							pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
						} else if (pullUpEl.className.match('loading')) {
							pullUpEl.className = '';
							pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
						}
					},
					onScrollMove: function () {
						if (this.y > 5 && !pullDownEl.className.match('flip')) {
							pullDownEl.className = 'flip';
							pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...';
							this.minScrollY = 0;
						} else if (this.y < 5 && pullDownEl.className.match('flip')) {
							pullDownEl.className = '';
							pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
							this.minScrollY = -pullDownOffset;
						} else if (this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')) {
							pullUpEl.className = 'flip';
							pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...';
							this.maxScrollY = this.maxScrollY;
						} else if (this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')) {
							pullUpEl.className = '';
							pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
							this.maxScrollY = pullUpOffset;
						}
					},
					onScrollEnd: function () {
						if (pullDownEl.className.match('flip')) {
							pullDownEl.className = 'loading';
							pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
							pullDownAction();   // Execute custom function (ajax call?)
						} else if (pullUpEl.className.match('flip')) {
							pullUpEl.className = 'loading';
							pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
							pullUpAction();
						}
					}
			});
			setTimeout(function () { document.getElementById('wrapper').style.left = '0'; }, 800);
			}
			//初始化绑定iScroll控件 
			document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
			document.addEventListener('DOMContentLoaded', loaded, false); 
	</script>
		<script src="https://static.ydbimg.com/API/YdbOnline.js" type="text/javascript"></script>
<script>
$(function(){
	var YDB = new YDBOBJ();
	YDB.SetGlobal(0,0,'','',0,'10/0/0',1,0,'',0,'#efefef');
})
</script>
</html>