<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"/>
	<title>领取pos机</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}common.css">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}use.css">
	<script src="{$Think.const.PUB_JS}jquery-1.8.2.min.js"></script>
	<script src="{$Think.const.PUB_LIB}layer/layer.js"></script>
	<!--<script src="{$Think.const.PUB_JS}global.js"></script>-->
	</head>
	<body>
		<div class="main getPos">
			<span class="return">
				<a class="go" href="/"></a>
			</span>
			<div class="banner">
				<img src="{$Think.const.PUB_IMG}de01.png" alt="">
			</div>
			<div class="get-con">
				<p style="text-indent: 2em;font-size: .32rem;">免费领取 激活绑定首次刷卡5000元即可提现赠送的TFC，往后每刷一笔提升算力助您挖矿</p>
				<h3 style="font-weight:bold">产品说明：</h3>
				<div class="get-bd">
					<p><span>创新性：</span>成为中小微型商户提供金融支付专家，目前最小的pos机，支持多平台使用即时申请即时使用。</p>
					<p><span>实用性：</span>最适合商户首款的pos机，深受微型商户的喜爱与追捧。</p>
					<p><span>经济性：</span>通过银行卡检测中心及银联受理终端准入认证，收款账户自行指定稳妥又安全。</p>
					<p><span>环保性：</span> 一个pos机无限可能，为您的生意增值，绝不丢单，赚钱必备神器 </p>
					<p><span>工艺性：</span>“小而精、廉而美、普而美”成为Qpos的天生优势。</p>
					<p><span>美观性：</span>大弧面设计，圆润中体现科技感，边缘硬朗的线条，充满张力与力量。</p>
					<p><span>功能：</span>预挖TFC</p>
					<p><span>费率：</span>0.55+3 </p>
					<p><a href="{:U('user/addAddress',array('type'=>1))}"class="receive-btn">免费申领</a></p>
				</div>
			</div>
		</div>
			<script src="https://static.ydbimg.com/API/YdbOnline.js" type="text/javascript"></script>
<script>
$(function(){
	var YDB = new YDBOBJ();
	YDB.SetGlobal(0,0,'','',0,'10/0/0',1,0,'',0,'#efefef');
})
</script>
	</body>
</html>